@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --periwinkle-blue: #67BFFF;
  --darkness-start: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --periwinkle-blue: #000000;
    --darkness-start: #fff;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--periwinkle-blue);
  background: var(--darkness-start);
}
